PORT=7331
SELF_HOSTED_MODE=true
DISABLE_SIGNUP=true

UPLOAD_PATH="./data/uploads"
DATABASE_URL="postgresql://user@localhost:5432/taxhacker"

# You can put it here or the app will ask you to enter it
OPENAI_API_KEY=""

# Auth Config
BETTER_AUTH_SECRET="random-secret-key"  # please use any long random string here

# Stripe Configuration
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""

# Resend Configuration (optional, use if you want to send emails)
RESEND_API_KEY=""
RESEND_AUDIENCE_ID=""
RESEND_FROM_EMAIL="TaxHacker <user@localhost>"
